MANIFEST
Makefile
Makefile.in
aclocal.m4
autom4te.cache
cola*_wrap.cxx
*.o
*.lo
*.la
.libs
.deps
config.guess
config.log
config.status
config.sub
configure
depcomp
doc
install-sh
config.h*
stamp-h1
libtool
ltmain.sh
m4
missing
